.footer-content {
   background-color: #353535;
   padding: 20px;
}

.footer-logo {
   height: 27px;
   padding-bottom: 15px;
}

.footer-links {
   display: flex;
   flex-direction: column;
   gap: 7px;
   a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
   }
}
