.footer-content {
   background-color: #353535;
   padding: 25px;
   @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: end;
      flex-direction: row-reverse;
      padding: 60px 60px 0 0px;
   }
}

.footer-logo {
   height: 18px;
   padding-bottom: 15px;
   filter: invert(1);
   @media screen and (min-width: $desktop) {
      padding-bottom: 32px;
      margin-left: 95px;
   }
}

.footer-links {
   display: flex;
   flex-direction: column;
   gap: 7px;
   @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 20px;
   }

   a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      i {
         font-size: 13px;
         margin-right: 5px;
      }
   }
}
