.footer-content {
   background-color: #353535;
   padding: 25px;
}

.footer-logo {
   height: 18px;
   padding-bottom: 15px;
   filter: invert(1);
}

.footer-links {
   display: flex;
   flex-direction: column;
   gap: 7px;
   a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      i {
         font-size: 13px;
         margin-right: 5px;
      }
   }
}
