.background-img {
   width: 100%;
   height: 275px;
   object-fit: cover;
}

.restaurant {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   background-color: $lightgrey;
   padding-top: 20px;
   border-radius: 40px 40px 0 0;
   position: relative;
   top: -40px;
   margin-bottom: -40px;
   @media screen and (min-width: $desktop) {
      flex-direction: column;
      width: 80%;
      left: 10%;
      align-items: center;
   }

   h2 {
      display: flex;
      font-weight: 300;
      font-size: 16px;
      margin: 30px 0 5px 16px;
   }
}

.green-lign {
   height: 3px;
   width: 40px;
   background-color: $cyan;
   margin: 0 0 12px 16px;
}

.btn-div {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-bottom: 26px;
}

.restaurant-title {
   font-family: "Shrikhand", sans-serif;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 15px 0 0 0;
   gap: 20px;
   @media screen and (min-width: $desktop) {
      justify-content: center;
   }
   h1 {
      font-size: 28px;
      font-weight: 400;
   }
   .heart-full {
      position: relative;
      right: 26.5px;
   }
}

.dishes {
   width: 100%;
   gap: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

.dish {
   width: 96%;
   background-color: #ffffff;
   border-radius: 15px;
   box-shadow: 0px 4px 15px 0px #0000001a;
   cursor: pointer;
   overflow: hidden;
   display: flex;
   flex-wrap: nowrap;
   .check {
      transition: width 500ms;
   }
}

.dish-content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: end;
   width: 100%;
   overflow: hidden;
}

.dish-title {
   h3 {
      font-size: 18px;
      margin: 12px 0 0 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }
   p {
      font-size: 15px;
      margin: 0 0 12px 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
   }
   display: flex;
   flex-direction: column;
   gap: 5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.dish-price {
   display: flex;
   justify-content: end;
   p {
      font-size: 15px;
      font-weight: 700;
      margin: 15px;
      padding: 0;
   }
}

.desktop {
   width: 100%;
   @media screen and (min-width: $desktop) {
      width: 70%;
   }
}
