.btn-purple {
  transition: all 500ms;
}
.btn-purple:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2509803922);
}

.heart-full {
  opacity: 0;
}

.heart {
  cursor: default;
}
.heart:hover .heart-full {
  animation: heart 1s ease forwards;
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.check {
  background-color: #99e2d0;
  color: white;
  border-radius: 0 15px 15px 0;
  width: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dish:hover .check {
  width: 20%;
  transition: width 500ms;
}

@keyframes check {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
.entrees {
  opacity: 0;
  animation: entrees 1s ease forwards;
}

@keyframes entrees {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.plats {
  opacity: 0;
  animation: plats 1s ease forwards 1s;
}

@keyframes plats {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.desserts {
  opacity: 0;
  animation: desserts 1s ease forwards 2s;
}

@keyframes desserts {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  font-family: "Roboto";
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
@media screen and (min-width: 1130px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.darker {
  background-color: #f6f6f6;
}

.welcome {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.welcome p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  margin: 15px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  max-width: 186px;
}

.background-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 20px;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}
@media screen and (min-width: 1130px) {
  .restaurant {
    flex-direction: column;
    width: 80%;
    left: 10%;
  }
}
.restaurant h2 {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  margin: 30px 0 5px 16px;
}

.green-lign {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin: 0 0 12px 16px;
}

.btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 26px;
}

.restaurant-title {
  font-family: "Shrikhand", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0 0;
  gap: 20px;
}
@media screen and (min-width: 1130px) {
  .restaurant-title {
    justify-content: center;
  }
}
.restaurant-title h1 {
  font-size: 28px;
  font-weight: 400;
}
.restaurant-title .heart-full {
  position: relative;
  right: 26.5px;
}

.dishes {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.dish {
  width: 94%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.dish .check {
  transition: width 500ms;
}

.dish-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.dish-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dish-title h3 {
  font-size: 18px;
  margin: 12px 0 0 15px;
}
.dish-title p {
  font-size: 15px;
  margin: 0 0 12px 15px;
}

.dish-price {
  display: flex;
  justify-content: end;
}
.dish-price p {
  font-size: 15px;
  font-weight: 700;
  margin: 15px;
  padding: 0;
}

.fonctionnement {
  margin: 45px 10px 65px 10px;
}
.fonctionnement h2 {
  margin-left: 10px;
}
@media screen and (min-width: 1130px) {
  .fonctionnement {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
  }
  .fonctionnement h2 {
    position: relative;
    right: 430px;
  }
}

.fonctionnement-cards-container {
  margin-bottom: 20px;
}
@media screen and (min-width: 1130px) {
  .fonctionnement-cards-container {
    margin-bottom: 0;
    display: flex;
  }
}
.fonctionnement-cards-container .fonctionnement-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: start;
  height: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 30px 15px;
  height: 72px;
  box-shadow: 0 4px 15px 0 #d0d0d0;
}
@media screen and (min-width: 1130px) {
  .fonctionnement-cards-container .fonctionnement-card {
    width: 320px;
    margin: 15px;
  }
}
.fonctionnement-cards-container .fonctionnement-card .icon {
  display: flex;
  font-weight: 900;
  width: 5%;
  position: relative;
  justify-content: center;
  margin: 0 16px 0 8px;
  color: #7e7e7e;
}
.fonctionnement-cards-container .fonctionnement-card .fa-store {
  color: #9356dc;
}
.fonctionnement-cards-container .fonctionnement-card .number {
  color: white;
  background-color: #9356dc;
  border-radius: 30px;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10px;
}
.fonctionnement-cards-container .fonctionnement-card p {
  font-weight: 500;
  font-size: 16px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.restaurants {
  padding: 30px 20px;
}
@media screen and (min-width: 1130px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant-cards-group {
  margin-bottom: 40px;
}
@media screen and (min-width: 1130px) {
  .restaurant-cards-group {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.restaurant-cards-group .restaurant-card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.restaurant-cards-group .restaurant-card a {
  color: black;
  text-decoration: none;
}
.restaurant-cards-group .restaurant-card .card-img {
  width: 100%;
  max-width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 1130px) {
  .restaurant-cards-group .restaurant-card .card-img {
    width: 490px;
    height: 180px;
  }
}
.restaurant-cards-group .restaurant-card span {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99e2d0;
  padding: 6px 12px;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  margin: 15px;
}
@media screen and (min-width: 1130px) {
  .restaurant-cards-group .restaurant-card span {
    right: -395px;
    top: -146px;
    margin: 0;
    position: relative;
    margin-right: -83px;
  }
}
.restaurant-cards-group .restaurant-card .card-content {
  display: flex;
  justify-content: space-between;
}
.restaurant-cards-group .restaurant-card .card-content h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.restaurant-cards-group .restaurant-card .card-content h4 {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restaurant-cards-group .restaurant-card .heart {
  margin: 20px 0px;
}
.restaurant-cards-group .restaurant-card .heart .heart-full {
  position: relative;
  right: 27px;
}
.restaurant-cards-group .card-text {
  padding: 15px;
}

.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  animation: disappear 2000ms;
  animation-fill-mode: forwards;
}
.loader img {
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.footer-content {
  background-color: #353535;
  padding: 25px;
}
@media screen and (min-width: 1130px) {
  .footer-content {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    padding: 60px 60px 0 0px;
  }
}

.footer-logo {
  height: 18px;
  padding-bottom: 15px;
  filter: invert(1);
}
@media screen and (min-width: 1130px) {
  .footer-logo {
    padding-bottom: 32px;
    margin-left: 95px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1130px) {
  .footer-links {
    flex-direction: row;
    gap: 20px;
  }
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.footer-links a i {
  font-size: 13px;
  margin-right: 5px;
}

.logo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  position: relative;
  top: 5px;
}
@media screen and (min-width: 1130px) {
  .logo-bar {
    height: 96px;
    top: 0px;
  }
}
.logo-bar img {
  height: 30px;
}

.location {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location ::placeholder {
  color: #353535;
}
.location input {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: transparent;
  height: 50px;
  width: 10rem;
  outline: none;
}

.fa-arrow-left {
  color: #353535;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 18px;
}
@media screen and (min-width: 1130px) {
  .fa-arrow-left {
    top: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
